




.main-container {
    max-width: 375px;
    width: 100%;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    margin: 0;
}


h1 { 
    font-size: 24px;
    font-weight: 700;
    display: flex;
    text-align: center;
    padding-top: 39px;
}

h2 {
    font-size: 18px;
    font-weight: 300;
    text-align: center;
}


.header-title {
        width: 100%;
        height: 63px;
        display: flex;
        justify-content: center;
        align-items: center;
        filter: drop-shadow(0px 5px 1px rgba(7, 7, 7, 0.1));

    img {
    width: 197px;
    height: 36px;}

    a {
        display: flex;
        align-items: center;}

    

}
.pdg {
        a { 
            



        }
    }

.place {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #EAEAEA;
        filter: drop-shadow(0px 5px 2.5px rgba(30, 30, 30, 0.1));
    i {
        color: #353535;
        width: 20px;
        height: 20px;
        font-size: 16px;
    }
    p { font-size: 16px;
        font-weight: 500;
        
    }
}
.reservation-container {

    width: 100%;
    height: 400px;
    background-color: #F6F6F6;

    .reservation-items {
        display: flex;
        justify-content: center;
    }
    .explore {
        font-size: 16px;
        font-weight: 500;
        color: white;
        background: linear-gradient(to top, #9356DC,#FF79DA);
        border-radius: 25px;
        border: none;
        width: 218px;
        height: 50px;
        filter: drop-shadow(0 6px 1px rgba(136, 136, 136, 0.1));

    &:hover {
        cursor: pointer;
        filter: drop-shadow(0px 6px 9px rgba(19, 19, 19, 0.1)) brightness(1.13);
        transition: filter 0.8s;
        } 

            
} 

}
.choices {
    width: 100%;
    height: 440px;

    h1 {
            padding-left: 20px;
    }
    ol {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    li {
        width: 335px;
        height: 72px;
        border-radius: 20px;
        font-size: 16px;
        font-weight: 500;
        background-color: #F6F6F6;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        box-shadow: 0 6px 10px rgba(136, 136, 136, 0.1);
        counter-increment: choice;
        &::before {
        content: counter(choice);
        width: 24px;            
        height: 24px;
        border-radius: 50%;
        background-color: #9356DC;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: -1px;          
      transform: translateY(-40%);
          
        }

    }
}
.restaurantes {
    width: 100%;
    height: 1226px;
    background-color: #F6F6F6;
    h1 {
        padding-left: 20px;
    }
    .meals-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .meal-card {
    width: 340px;
    height: 251px;
    border-radius: 15px;
    overflow: hidden;
    background-color: white;
    margin-bottom: 17px;
    
    
        img {
            width: 100%;
            height: 174px;
            object-fit: cover;
            object-position: bottom;
            margin-bottom: 15px;
        }
        a {
            font-size: 18px;
            font-weight: 700;
            padding-left: 15px;
            padding-top: 15px;
            text-decoration:none;
            color: black;
            margin-top: 50px;
        }
        p {
            font-size: 17px;
            font-weight: 300;
            margin: 0;
            padding-top: 5px;
            padding-left: 15px;
        }
    }
    .enchanted {
        img {
            object-fit: cover;
            object-position: 0 -153px;
        }
        }
}
.Palette-du-goût {


        
        

}


$footer-list-color: white;
footer {
background-color: #353535;
width: 100%;
height: 186px;
       img {
    width: 139px;
    height: 27px;
    padding: 15px 20px;
    } 
    .footer-list {
        display: flex;
        flex-direction: column;
        padding-left: 20px;

    }
    .propose-partenairs {

        color: $footer-list-color;
        padding-bottom: 8px;
    }
    .Mentions-contact {
        color: $footer-list-color;
                padding-bottom: 8px;

    }
    .img-column {
        display: flex;

        i { padding-right: 10px;
            color: $footer-list-color;


        }

    }
}