html {
  max-width: 375px;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

h1 {
  font-size: 24px;
  font-weight: 700;
  display: flex;
  text-align: center;
  padding-top: 39px;
}

h2 {
  font-size: 18px;
  font-weight: 300;
  text-align: center;
}

.header-title {
  border: solid 2px green;
  width: 100%;
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-title img {
  width: 197px;
  height: 36px;
}

.place {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EAEAEA;
  filter: drop-shadow rgb(0, 4, 4);
}
.place i {
  color: #353535;
  width: 20px;
  height: 20px;
  font-size: 16px;
}
.place p {
  font-size: 16px;
  font-weight: 500;
}

.reservation-container {
  width: 100%;
  height: 400px;
  background-color: #F6F6F6;
}
.reservation-container .reservation-items {
  display: flex;
  justify-content: center;
}
.reservation-container .explore {
  font-size: 16px;
  font-weight: 500;
  color: white;
  background: linear-gradient(to top, #9356DC, #FF79DA);
  border-radius: 25px;
  border: none;
  width: 218px;
  height: 50px;
}

.choices {
  width: 100%;
  height: 440px;
}
.choices h1 {
  padding-left: 20px;
}
.choices ol {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: #FF79DA solid;
}
.choices li {
  width: 335px;
  height: 72px;
  border: solid 2px red;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 500;
  background-color: #F6F6F6;
  display: flex;
  justify-content: center;
  align-items: center;
  counter-increment: choice;
}
.choices li::before {
  content: counter(choice);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #9356DC;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -1px;
  transform: translateY(-40%);
}

.restaurantes {
  width: 100%;
  height: 1226px;
  background-color: #F6F6F6;
}
.restaurantes h1 {
  padding-left: 20px;
}
.restaurantes .meals-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.restaurantes .meal-card {
  width: 340px;
  height: 251px;
  border-radius: 15px;
  overflow: hidden;
  background-color: white;
  margin-bottom: 17px;
}
.restaurantes .meal-card img {
  width: 100%;
  height: 174px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
  margin-bottom: 15px;
}
.restaurantes .meal-card a {
  font-size: 18px;
  font-weight: 700;
  padding-left: 15px;
  padding-top: 15px;
  text-decoration: none;
  color: black;
  margin-top: 50px;
}
.restaurantes .meal-card p {
  font-size: 17px;
  font-weight: 300;
  margin: 0;
  padding-top: 5px;
  padding-left: 15px;
}

footer {
  background-color: #353535;
  width: 100%;
  height: 186px;
  padding: 20px;
}
footer img {
  width: 139px;
  height: 27px;
}
footer .footer-list {
  display: flex;
  flex-direction: column;
}
footer .propose-partenairs {
  color: white;
}
footer .Mentions-contact {
  color: white;
}/*# sourceMappingURL=style.css.map */