
.main-container {
    max-width: 767.98px;
    width: 100%;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    margin: 0;
}


h1 { 
    font-size: 24px;
    font-weight: 700;
    display: flex;
    text-align: center;
    padding-top: 39px;
}

h2 {
    font-size: 18px;
    font-weight: 300;
    text-align: center;
}


.header-title {
        width: 100%;
        height: 63px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 1px 1px rgba(136, 136, 136, 0.1);
    img {
    width: 197px;
    height: 36px;}

    a {
        display: flex;
        align-items: center;}
}
.pdg {
        a { position: absolute;
            left: 20px;
            font-size: 16.5px;
            text-decoration: none;
            color: black;
        }
    }

.place {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #EAEAEA;
        filter: drop-shadow(0px 5px 2.5px rgba(30, 30, 30, 0.1));
    i {
        color: #353535;
        width: 20px;
        height: 20px;
        font-size: 16px;
        position: relative;
        top: 3px;
    }
    p { font-size: 16px;
        font-weight: 500;
        
    }
}
.reservation-container {

    width: 100%;
    height: 300px;
    background-color: #F6F6F6;
}
    .reservation-items {
        display: flex;
        justify-content: center;
        padding: 0 10px;
        margin-bottom: 15px;
    }
    .explore {
        font-size: 16px;
        font-weight: 500;
        color: white;
        background: linear-gradient(to top, #9356DC,#FF79DA);
        border-radius: 25px;
        border: none;
        width: 218px;
        height: 50px;
        filter: drop-shadow(0 6px 1px rgba(136, 136, 136, 0.1));
    &:hover {
        cursor: pointer;
        filter: drop-shadow(0px 6px 9px rgba(19, 19, 19, 0.1)) brightness(1.13);
        transition: filter 0.8s;
        } 
        
        
} 
.order {margin-top: 20px;} 

.choices {
    width: 100%;
    h1 {
            padding-left: 20px;
    }
    ol {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-left: 20px;

    }
    li {
        width: 322px;
        height: 72px;
        border-radius: 20px;
        font-size: 16px;
        font-weight: 500;
        background-color: #F6F6F6;
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        box-shadow: 0 6px 10px rgba(136, 136, 136, 0.1);
        counter-increment: choice;
        &::before {
        content: counter(choice);
        width: 24px;            
        height: 24px;
        border-radius: 50%;
        background-color: #9356DC;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        right: 10px;          
        }
        i {
        color: #7E7E7E;
        right: 40px;
        padding-left: 15px; 
        padding-right: 25px; 
        }
       .fa-store {color:#9356DC;}
}
}
.restaurantes {
    width: 100%;
    background-color: #F6F6F6;
    h1 {
        padding-left: 20px;
    }
    .meals-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .meal-card {
    width: 340px;
    height: 251px;
    border-radius: 15px;
    overflow: hidden;
    background-color: white;
    margin-bottom: 17px;
    
    a {
        text-decoration: none;
    }
        img {
            width: 100%;
            height: 174px;
            object-fit: cover;
            object-position: bottom;
            margin-bottom: 15px;
        }
        span img {
            object-fit: cover;
            object-position: 0 -155px;
        }


        .new {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #99E2D0;
            position: relative;
            font-size: 14px;
            font-weight: 500;
            color: #008766;
            left: 245px;
            bottom: 248px;
            padding: 0;
            width: 80px;
            height: 29px;
        }
        input {
            position: relative;
            left: 60px;
            display: none;
            }
            label i {
            font-size: 22px;
            color: black;
            position: relative;
            left: 300px;
            bottom: 30px; 
            background: black;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            }
            input:checked + label i {
            background: linear-gradient(to top, #9356DC, #FF79DA);
            -webkit-background-clip:text;
            -webkit-text-fill-color: transparent;
            }
        }
            }
        h3 {
            font-size: 18px;
            font-weight: 700;
            padding-left: 10px;
            padding-top: 0;
            color: black;
            margin: 0;
        }
        p {
            font-size: 17px;
            font-weight: 300;
            margin: 0;
            padding-top: 5px;
            padding-left: 0px;
        }

.pdg i {
  width: 17px;
  height: 16px;
  text-decoration: none;
  color: black;
  position: relative;
  bottom: 3px; 
}
.restaurant-page {
display: none;
&:target {
display: block;
&:target ~ .main-page {
display: none;
}
}
}

h4 {font-size: 16px;
    font-weight: 300;
    width: 40px;
    height: 27px;
    border-bottom:solid #99E2D0 3px;
    margin-bottom: 10px;
}
.Restaurant-1 {
    background-color: #F6F6F6;
    img {
    width: 100%;
    height: 275px;
    z-index: 0;
    }
    .title-card {
        background-color: #F6F6F6;
        position: relative;
        z-index: 1;
        display: flex;
        align-items: center;
        padding-left: 17px;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px; 
        margin-top: -60px;
            h3 {
            font-family: "Shrikhand", sans-serif;
            font-size: 28px;
            font-weight: 400;
            margin-top: 32px;
            }
            input {
            position: relative;
            left: 60px;
            display: none;
            }
            }
            i {
            font-size: 22px;
            color: black;
            position: relative;
            left: 2.9rem;
            top: 1rem;
            cursor: pointer;
            background: black;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            }
            input:checked + label i {
            background: linear-gradient(to top, #9356DC, #FF79DA);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            }
            }
    .full-meal {
        padding-left: 15px;
        display: flex;
        flex-direction: column;
        .next {padding-left: 0;}
        .menu-detail{
            display: flex;
            background-color: white;
            margin-bottom: 15px;
            border-radius: 15px;
            width: 315px;
            height: 69px;
            padding-left: 15px;
            box-shadow: 0 6px 10px rgba(20, 20, 20, 0.1);
            cursor: pointer; 
            position: relative;        
            input:checked + .menu-description span {
                transform: translateX(-59px);
                }
            input:checked ~ .check-icon {
            clip-path: inset(0 0 0 0);
            right: 0; 
            }}
        .menu-description span {
        transition: all 0.3s linear;
        }

        h5 {
        font-size: 18px;  
        font-weight: 500;  
        margin: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        }
        h6{
            font-size: 15px;  
            font-weight: 300; 
            margin: 0;
            display: flex;}
            p {
                margin: 0;
                position: relative;
                left: 130px;
                font-size: 15px;
                font-weight: 700;
            }
    .check-icon {
        background-color: #99E2D0;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        position: absolute;
        right: -60px;
        clip-path: inset(0 100% 0 0);
        transition: all 0.3s linear; 
            i {
                position: relative;
                top: 0;
                left: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 59px;
                height: 69px;
                background-color: white;
            }}
        }
$footer-list-color: white;
footer {
background-color: #353535;
width: 100%;
height: 186px;
       img {
    width: 139px;
    height: 27px;
    padding: 15px 20px;
    } 
    .footer-list {
        display: flex;
        flex-direction: column;
        padding-left: 20px;
    }
    .propose-partenairs {
        color: $footer-list-color;
        padding-bottom: 8px;
    }
    .Mentions-contact {
        color: $footer-list-color;
                padding-bottom: 8px;
    }
    .img-column {
        display: flex;

        i { padding-right: 10px;
            color: $footer-list-color;
        }
    }
}